body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.nav-links {
  margin-top: 20px;
}

.nav-item {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #ddd;
}

.bean {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bean:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}